@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  background: #e6f0f3;
}
.header {
  width: 100%;
  height: 64px;
  background: #022231;
}
.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.authentify {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.authentify img {
  width: 50%;
  height: 50%;
}

.header-text {
  color: #125d92;
  font-size: 2vw;
  font-weight: normal;
  font-family: "Nunito", sans-serif;
  margin: 0;
}
.header-text > a {
  text-decoration: none;
  color: #125d92;
}
.authentify > .header-text > a {
  color: #115c92;
  font-weight: 300;
  text-shadow: 1px 1px 8px #115c92;
}
.wrapper {
  height: 100%;
  width: 100%;
}
.header-wrapper {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 3vw;
  color: #032e42;
  margin-bottom: 45px;
  margin-top: 64px;
}
.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.box {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-image > img {
  margin: 0;
}
.box-text {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 3vw;
}
.checkbox-btn {
  display: inline-block;
  width: 128px;
  height: 64px;
  background: rgba(2, 34, 49, 0.5);
  border-radius: 32px;
  border: 1px solid #022231;
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative;
  cursor: pointer;
}
.checkbox-btn::after {
  content: "";
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background: #022231;
  margin-top: 8px;
  left: 10px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}
.checkbox-on {
  background: #8ac5f0;
}
.checkbox-on::after {
  left: 70px;
  background: #032e42;
}
.accept-button {
  width: 282px;
  height: 63px;
  background: linear-gradient(0deg, #032e42, #0a1417);
  border-radius: 16px;
  border: none;
  color: #ffffff;

  cursor: pointer;
}

.btn {
  margin: 1rem auto;
  width: 24vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 3vw;
  margin-top: 48px;
  margin-bottom: 48px;
  font-size: 1.5rem;
  border-radius: 50px;
  background: #115c92;
  color: #ffffff;
  border: 0.25rem solid #115c92;

  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.4s linear;
}

.btn:hover {
  color: #022231;
  box-shadow: 0 0 20px #8ac5f0;
}

.btn::after {
  content: "";
  background: #8ac5f0;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;

  transition: all 0.4s linear;
}

.btn::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);

  transition: all 0.4s linear;
}
.btn:hover::after {
  transform: skewX(-45deg) scale(1, 1);

  transition: all 0.4s linear;
}

@media (max-width: 769px) {
  .header-text {
    font-size: 3vw;
  }

  .header-wrapper {
    font-size: 3vw;
  }

  .box {
    width: 50%;
  }

  .btn {
    width: 60%;
  }
}

@media (max-width: 426px) {
  .header-text {
    font-size: 5vw;
  }

  .header-wrapper {
    font-size: 5vw;
  }

  .box {
    width: 100%;
  }

  .box-text {
    font-size: 3vw;
  }
}
