body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #022231;
}

.login {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92vw;
  height: 92vh;
  background-color: #e6f0f3;
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
}

.login__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
  height: 100%;
  background-size: cover;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  background: linear-gradient(200deg, #4780A8, #8ac5f0, #022231, #3398e0);
  background-size: 400% 400%;
  -webkit-animation: gradient 6s ease infinite;
          animation: gradient 6s ease infinite;
  overflow: hidden;
}

.login__img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.login__img img::after {
  background: inherit;
  content: "";
  position: absolute;
  display: block;
  left: -60px;
  top: 40px;
  width: 100%;
  height: 108%;
  z-index: -1;
  -webkit-filter: blur(55px);
          filter: blur(55px);
}

.login__bg {
  position: absolute;
  width: 100%;
  height: 102%;
}

.login__inner {
  width: 66%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login__inner h1 {
  font-size: 3rem;
  text-align: center;
  color: #022231;
}

.login__item {
  font-family: "Nunito";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 42vw;
  margin: 0 auto;
  text-align: center;
}

.login input {
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 20px;
  margin-top: 30px;
  border-bottom: 0.1rem solid #022231;
  background-color: #d2d9db;
  outline: none;
  text-align: center;
}

.login label {
  text-align: center;
  font-size: 1.5rem;
  padding-left: 1rem;
  color: #9cacbf;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  cursor: text;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login input:focus,
.login input:not(:placeholder-shown) {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-bottom: 0.2rem solid #8ac5f0;
  background-color: #ffffff;
}

.login input:focus ~ label,
.login input:not(:placeholder-shown) ~ label {
  padding: 0;
  color: #022231;
  -webkit-transform: translateY(1rem) scale(1);
          transform: translateY(1rem) scale(1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login__btn {
  margin: 30px auto;
  text-align: center;
}

.login__btn .btn::after {
  -webkit-transform: skewX(-45deg) scale(0, 1);
          transform: skewX(-45deg) scale(0, 1);
}

.login__btn .btn:hover::after {
  -webkit-transform: skewX(-45deg) scale(1, 1);
          transform: skewX(-45deg) scale(1, 1);
}

.login__register {
  color: #022231;
  font-size: 1.5rem;
  font-weight: 200;
  text-decoration: none;
}

.login__register:visited {
  color: #022231;
}

.btn {
  margin: 1rem auto;
  width: 24vw;
  height: 70px;
  font-size: 1.5rem;
  border-radius: 16px;
  background: #3398e0;
  color: #ffffff;
  border: 0.25rem solid #3398e0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.btn:hover {
  color: #022231;
  -webkit-box-shadow: 0 0 20px #8ac5f0;
          box-shadow: 0 0 20px #8ac5f0;
}

.btn::after {
  content: "";
  background: #8ac5f0;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.btn::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  -webkit-transform: skewX(45deg) scale(0, 1);
          transform: skewX(45deg) scale(0, 1);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.btn:hover::after {
  -webkit-transform: skewX(45deg) scale(1, 1);
          transform: skewX(45deg) scale(1, 1);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 426px) {
  .login__img {
    display: none;
  }
  .login__inner {
    width: 100%;
  }
  .login__item {
    width: 80%;
  }
}
